@import url(http://fonts.googleapis.com/css?family=Bad+Script&subset=cyrillic,latin);

body {
    text-align: center;
    background-color: rgb(219, 219, 219);
    font: 27px 'Bad Script', cursive;
    color: rgba(0, 5, 82, 0.925);
}

h3 {
    margin-top: -5px;
}

h6 {
    margin: -30px 5px 10px;
}

main {
    position: relative;
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.member {
    display: inline-block;
}

.equations_field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
    background-size: 21px 21px;
    background-position: center center;
}

.equation {
    margin: 25px 35px;
}

.member {
    font-size: 32px;
    margin-left: 15px;
    align-self: auto;
}

.input_member {
    width: 2em;
    text-align: center;
    font: 28px 'Bad Script', cursive;
}

.empty_value {
    border-color: rgba(233, 33, 33, 0.699);
}

.check_result {
    font-size: 18px;
    margin-top: 1px;
}

.correct_answer {
    color: rgb(0, 160, 0);
}

.incorrect_answer {
    color: rgb(221, 0, 0);
}

.check_button {
    padding: 5px 25px;
    font: bold 18px 'Bad Script', cursive;
    border: 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    outline: none;
    background: linear-gradient(90deg, #ecffc1, #c2d3fdd2);
}

.check_button:active {
    box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5);
}

.grade {
    position: absolute;
    bottom: 25px;
    right: 35px;
    font-size: 55px;
    color: red;
    transform: rotate(-22deg);
}

.grade_animate {
    animation: animate_grade 2s ease 1;
}

@keyframes animate_grade {
    0% {
        opacity: 0;
        transform: scale(0.4) rotate(-22deg);
    }
    60% {
        opacity: 0.6;
        transform: scale(1.3) rotate(-22deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(-22deg);
    }
}
